@import '../assets/base.css';
/******************************/  
/*       Navbar globals       */  
/******************************/  
nav {
  height: auto;
  
  border-radius: 0 var(--UI-border-radius) var(--UI-border-radius) 0; 
  border-color: var(--Grey);
  border-style: solid;
  border-width: var(--UI-outline-width) var(--UI-outline-width) var(--UI-outline-width) 0;

  margin-top: 3rem;
  padding: 1.5em 0 1.5em 0;  
  height: 70vh;
  width: 35vh;

  text-decoration: none;
}

/******************************/  
/*      Navbar sections       */  
/******************************/  
.navSectionHead {
  text-align: left;
  
  padding:0 0 0 1vw;
  width: 90%;
  display: flex;
  align-items: center;
}
.chevron-icon {
  transition: var(--UI-list-transition);
}
.chevron-icon.rotate {
  transform: rotate(-90deg);
}
.navItem:hover {
  background-color: var(--Grey);
}
.navItem.courseSelected, .navItem.subcourseSelected {
  background-color: var(--Black);
  color: var(--White);
}

.navSection {
  margin: 0 0 2vh 0;
}
.navSection li {
  margin: 0.3em 0 0 0;
  padding:0 0 0 1.8vw;
}
.navSection li:hover {
}
.navSection span{
  flex-grow: 1;
}
.navSection ul {
  list-style: none;
}


.navItem {
}

