/******************************/  
/*       Navbar globals       */  
/******************************/  
#navSection {
}


/******************************/  
/*     Navbar font/text       */  
/******************************/  
#navSection h1 {
}
#navSection p {
}
