@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  color: var(--Black);
  /******************************/  
  /*      Project variables     */  
  /******************************/  
  /* Colors */
  --Light-lavender: #B9A3CE;
  --SEA-red: #EA5347;
  --light-clay: #E3A39F;
  --Deep-blue: #002430;
  --Petrol: #3C7D87;
  --Aqua: #86CBD2;
  --Mint-green: #97DABA;
  --Sand: #DED4D2;

  --Black: #202327;
  --White: #FFFFFF;
  --Grey: #D3D3D3;

  /* Theme colors */
  --Background-color: var(--White);

  /* Fonts */
  --UI-small-text: 0.7vmax;
  --UI-medium-text: 1vmax;
  --UI-large-text: 1.3vmax;
  --UI-large-icon: 1.5vmax;

  /* General UI */
  --UI-outline-width: 0.5vmin;
  --UI-border-radius: 2vmin;
  --Asset-border-radius: 1.5vmin;
  
  /* Animations */
  --UI-list-transition: transform 0.1s ease;
}

*{
  /******************************/  
  /*       Project globals      */  
  /******************************/  
  font-size: var(--UI-medium-text);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--UI-large-text);
}

#assembled{
  display: flex;

}
